.footer{
    background-color: $Dark-moderate-cyan;
}
.footer__container{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    display: flex;
    height: 30rem;
    .footer__logo{
        width: 14rem;
    }
}   
.footer__link{
    justify-content: space-between;
    margin: 4rem 7rem 7rem 7rem;
    display: flex;
    width: 75%;
    a{
        color: #4f9182;
        text-decoration: none;
        font-size: 1.65rem;
        @include barlow;
    }
    a:hover{
        color: $White;
    }
}
.social__media{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 35%;
    svg{
        width: fit-content;
        cursor: pointer;
    }
}
.fill{
    fill: $White;
}
/* Desktop design */
@include desktop-width{
    .footer__container{
        width: 40%;
        margin: 0 auto;
    }
}