.hero{
    background-image: url(../assets/img/mobile/image-header.webp);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    height: 80vh;
    padding-top: 4vh;
    .logo{
        height: max-content;
        width: 14rem;
        cursor:pointer;
    }
    h1{
        text-align: center;
        margin-top: 10vh;
        color: $White;
        @include fraunces($black);
        text-transform: uppercase;
        span{
            margin-top: .8vh;
            display: block;
        }
    }
}
.container__links{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    .hamburger{
        cursor: pointer;
    }
}
.container__arrow{
    display: flex;
    margin: 10vh auto;
    .arrow{
        margin: 0 auto;
    }
}
@media (min-width: 400px) { 
    .hero{
        background-image: url(../assets/img/desktop/image-header.webp);
        h1 span{
            display: inline;
        }
    }
}
/* Menu mobile */
.menu--mobile {
    display: flex;
    position: absolute;
    right: 5%;
    top: 10rem;
    flex-direction: column;
    background-color: white;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    @include barlow;
    a{
        margin: 1.5rem 0;
        color: $Dark-grayish-blue;
        text-decoration: none;
        z-index: 1;
    }
}
.menu--mobile a:nth-child(4){
    color: $Very-dark-desaturated-blue;
    background-color: $Yellow;
    padding: 1.4rem 2.8rem;
    border-radius: 3rem;
    @include fraunces($bold);
    text-transform: uppercase;
    margin: .5rem auto;
}
.menu--mobile::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 100px solid white;
    top: -3rem;
    right: 0;
}
@media (min-width: $tablet) { 
    .menu--mobile{
        width: 50%;
    }
}
/* Desktop design */
@media (min-width: $desktop) { 
    .hero{
        height: 100vh;
        h1{
            margin: 11vh;
            font-size: 3.5rem;
        }
        .logo{
            width: 18rem;
        }
    }
    .arrow{
        width: 4.7rem;
    }
    .hamburger{
        display: none;
    }
    .container__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        font-size: 2.2rem;
        @include barlow;
        a{
            color: $White;
            text-decoration: none;
        }
    }
    .container__links a:nth-child(4){
        color: $Very-dark-desaturated-blue;
        background-color: $White;
        padding: 1.5rem 3rem;
        border-radius: 3rem;
        @include fraunces($bold);
        text-transform: uppercase;
        font-size: 1.9rem;
    }
    .container__links a:nth-child(4):hover{
        color:$White;
        background-color: #ffffff2a;
    }
}