@mixin fraunces ($size){
    font-family: $fraunces;
    font-weight: $size;
}
@mixin barlow {
    font-weight: $semi-bol;
    font-family: $barlow;
}
@mixin center-absolute{
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
@mixin secction-images{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50vw 100%;
    margin: 0;
}